
  h1{
    color: whitesmoke;
  }

  label{
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  #logo{
    font-size: 44px;
    font-weight: bold;
    border-bottom: 1px solid #d9dadc;
    padding: 25px 0 25px;
    margin-bottom: 30px;
    text-align: center;
}

main{
    text-align: center;
    margin: 0 auto;
    max-width: 450px;
}

input{
    width: 400px;
    height: 40px;
    padding: 6px 12px;
    border: 1px solid #d9dadc;
    margin-top: 5px;
    font-size: 16px;
    margin-bottom: 8px;
  }

.name, .surname, .username, .email, .password, .confirm_password, .submit{
    width: 400px;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    
}

.allow{
    display: flex;
}

.allow label{
    margin-top: 5px;
}

.errore_input{
    border: 2px solid red;
}

.hidden{
    display: none;
}

span{
    color: red;
    font-size: 0.9em;
    text-align: center;
}

div.error img{
    height: 20px;
    width: 20px;
    margin-bottom: -3px;
    margin-right: 5px;
}



.submit input{
    margin-top: 30px;
    border-radius: 5px;
    padding: 16px 14px 18px;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 2px;
    color: black;
    background-color: whitesmoke;
}

.submit input:hover{
    cursor: pointer;
    border: 2px solid black;
}

.signup{
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 50px;
    color: whitesmoke;
}
