#soundtrack_search{
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
}

.container_sounds{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
}

.playlist_name{
    max-height: 30%;
    color: whitesmoke;
    max-width: 70%;
}


.playlist_img{
    max-height: 70%;
    max-width: 70%;
}

.playlist{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 18%;
    height: 200px;
    background-color: black;
    border-radius: 5px;
    margin: 10px;
}

.playlist:hover{
    opacity: 50%;
}

@media (max-width: 400px){
    .playlist{
        width: 40%;
    }
}

